{{#each .}}
    <div class="box">
	<h2 class="artist-title"><a href="/#!/releases/{{kebabCase title}}" class="artist-title-style">{{title}}</a></h2>
	<div class="artist_cart">Artist: <a href="/#!/artists/{{artist}}" class="artist-display-style">{{artist_display}}</a></div>
	{{#if available}}
	    {{#if price}}
		<div class="add_to_cart"><a href="javascript:;">Add to Cart</a> £{{price}}</div>
	    {{else}}
		<div class="sold_out"><strong>SOLD OUT</strong></div>
	    {{/if}}
	{{else}}
	    <div class="sold_out"><strong>SOLD OUT</strong></div>
	{{/if}}

    </div>
{{/each}}
